html, body {
	height: 100%;
	font-size: 1.0rem;
}

* {
	color: #ffffff;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex: 1;
	// border-bottom: 1px solid #e8e8e8;
}
.col {
	padding: 3px 5px;
	// border: solid 1px white;
	width: calc(100% - 16px);
}
.col-header {
	width: calc(100% - 780px);
}
.col-edit {
	width: 320px;
}
.col-hex {
	width: 460px;
}
.children {
	padding-left: 12px;
}

select {
	padding: 5px 5px;
	border-width: 0px 0px 2.5px 0px;
	border-width: 0px;
	border-color: #e8e8e8;
	// border-radius: 3px;
	font-size: 1.0rem;
	margin-left: -10px;
	width: 100%;
	background-color: rgba(40, 40,40, 0.8);
	&:hover {
		cursor: pointer;
		transition-duration: 0.25s;
		background-color: rgba(48, 48,48, 0.9);
	}
	option {
		padding: 3px 0px;
		font-size: 0.9rem;
	}
}


