html, body {
	height: 100%;
	font-size: 1.0rem;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex: 1;
	// border-bottom: 1px solid #e8e8e8;
}
.col {
	padding: 3px 5px;
	// border: solid 1px white;
	width: calc(100% - 16px);
}
.col-header {
	width: calc(100% - 780px);
}
.col-edit {
	width: 320px;
}
.col-hex {
	width: 460px;
}
.redefined {
	padding-left: 12px;
}

select {
	padding: 5px 5px;
	border-width: 0px 0px 2.5px 0px;
	border-width: 0px;
	border-color: #e8e8e8;
	// border-radius: 3px;
	font-size: 1.0rem;
	margin-left: -10px;
	width: 100%;
	background-color: rgba(40, 40,40, 0.8);
	&:hover {
		cursor: pointer;
		transition-duration: 0.25s;
		background-color: rgba(48, 48,48, 0.9);
	}
	option {
		padding: 3px 0px;
		font-size: 0.9rem;
	}
}

.header-selection {
	width: 100%;
	padding: 10px 5px;
	background-color: rgba(48, 48,48, 0.9);
	.title {
		font-size: 0.7rem;
	}

}
.general-selection {
	width: 100%;
	position: relative;
	.selected {
		padding: 3px 4px;
		border-bottom: 1px solid rgba(80, 80, 80, 0.9);;
		&:hover {
			cursor: pointer;
			background-color: rgba(56, 56,56, 0.9);
			transition-duration: 0.25s;
		}
		&:before, &:after {
			position: absolute;
			content: "";
			width: 10px;
			height: 1px;
			background-color: #ffffff;
		}
		&:after {
			top: 15px;
			right: 18px;
			transform: rotate(45deg);
		}
		&:before {
			top: 15px;
			right: 11px;
			transform: rotate(-45deg);
		}
	}
	.list {
		&.closed {
			display: none;
		}
		position: absolute;
		top: 5px;
		left: 0px;
		background-color: #151515;
		box-shadow: 3px 5px 3px rgba(60, 60, 60, 0.8);
		width: 100%;
		.option {
			width: calc(100% - 12px);
			padding: 3px 6px;
			&:hover {
				background-color: #222222;
				cursor: pointer;
				transition-duration: 0.25s;
			}
		}
	}
}